@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Inter:wght@400;600&family=EB+Garamond:wght@400;700&family=Lora:wght@400;600&family=Cormorant+Garamond:wght@400;700&family=Merriweather:wght@400;700&family=Roboto:wght@400;700&family=Space+Grotesk:wght@400;700&family=Spectral:wght@400;700&display=swap");

@import "tailwindcss";

@utility items-safe-center {
  align-items: safe center;
}

@utility justify-safe-center {
  justify-content: safe center;
}

/*Font Families*/
@theme {
  --font-playfair: "Playfair Display", serif;
}
@theme {
  --font-inter: "Inter", sans-serif;
}
@theme {
  --font-garamond: "EB Garamond", serif;
}
@theme {
  --font-lora: "Lora", serif;
}
@theme {
  --font-cormorant: "Cormorant Garamond", serif;
}
@theme {
  --font-merriweather: "Merriweather", serif;
}
@theme {
  --font-roboto: "Roboto", sans-serif;
}
@theme {
  --font-space-grotesk: "Space Grotesk", sans-serif;
}
@theme {
  --font-spectral: "Spectral", serif;
}
